setuptools<80
langchain==0.3.25
langchain-chroma==0.2.4
langchain-cohere==0.3.5
langchain-community==0.3.24
langchain-core>=0.3.61
langchain-experimental==0.3.4
langchain-ollama==0.3.3
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
python-dotenv==1.1.0
pydantic==2.11.9
openai==1.82.0
langgraph==0.4.7
requests==2.32.3
jsonpointer
jsonpatch
PyPDF2
Jinja2
pypandoc
filetype
numpy
opencv-python
pdf2image
pytesseract
pyvis
Pillow
pdf2image
scikit-image
opencv-python
json_repair
xgboost
scikit-learn
spacy
python-docx==1.2.0
./en_core_web_sm-3.8.0-py3-none-any.whl
ultralytics
doclayout-yolo
transformers
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
accelerate
timm
openpyxl